.about-us-container {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
}
.about-us-container h2{
  margin-bottom:19px;
  margin-top: -14px;
}

.about-us-container p {
  text-align: justify;  /* Justify text alignment */
  line-height: 1.6;  /* Improve readability */
  margin-bottom: 15px;  /* Add spacing between paragraphs */
}

.text-slider {
  width: 80%;
  margin: auto;
}

.about-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-slide:hover {
  transform: scale(1.02);
}

.image-container {
  flex: 1;
  max-width: 40%;
}
.image-container img {
  width: 100%;
  border-radius: 10px;
}

.text-container {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.text-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.text-container p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .about-slide {
    flex-direction: column;
    text-align: center;
  }

  .image-container {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .text-container {
    max-width: 90%;
  }
}
