/* src/style/home.css */  
 /* src/style/home.css */

 .hero-section {
    background-image: url("C:\Users\Personal\Desktop\numetryform\public\gradient-technology-futuristic-background_23-2149115236.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
  }

  .hero-section p{
      align-items: center;
      justify-content: center;
      font-size: medium;
  }

  .about-company {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start; /* Aligns heading with first line of paragraph */
    gap: 15px; /* Space between heading and paragraph */
}

.about-company h3 {
    font-size: 1.5rem;
    margin: 0 0 20px 0 ;
    min-width: 150px; /* Ensures heading is aligned properly */
    text-align: left;
}

.about-company p {
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
    margin: 0 0 20px 0 ;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
    .about-company {
        flex-direction: column; /* Stack items vertically on small screens */
        text-align: center;
    }

    .about-company h3 {
        min-width: unset; /* Allows it to be flexible on small screens */
        text-align: left;
        margin-bottom: 10px;
    }

    .about-company p {
        text-align: left;
        max-width: 100%;
    }
}
